{{/*
Accessible skip content menu.

Inspired by Labinator Accessible Responsive HTML5 Templates.

@see https://labinator.com/wordpress-marketplace/accessible-html-templates/
*/}}
<nav class="skip-content-nav" role="navigation" aria-label="Skip Content menu">
  <ul id="menu-skip-menu" class="skip-content-nav__list">
    <li class="skip-content-nav__item">
      <a class="skip-content-nav__link" href="#site-main">Skip to content</a>
    </li>
{{/*
This link is to be used with a accessibility styling menu allowing to change
font size, character spacing, font family, etc.
    <li class="menu-item">
      <a href="#block_settings">Skip to accessibility menu</a>
    </li>
*/}}
    <li class="skip-content-nav__item">
      <a class="skip-content-nav__link" href="#lab-main-menu">Skip to main menu</a>
    </li>
    <li class="skip-content-nav__item">
      <a class="skip-content-nav__link" href="#site-footer">Skip to footer</a>
    </li>
  </ul>
</nav>
