<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="Author" content="Pierre-Yves Landuré"/>
    <title>{{ block "title" . }}
          {{ .Site.Title }}
    {{ end }}</title>

    <!--link rel="stylesheet" type="text/css" href="style.css"-->
    <!--script src="js/scripts.js"></script -->
  </head>
  <body class="{{ printf "section-%s" ( .CurrentSection.Param "slug" ) }}">

    {{ partial "header/site-header.html" . }}

    <!-- Code that all your templates share, like a header -->
    <main>
      {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </main>

    <menu>
      <li>Social sharing ?</li>
      <li>Facebook</li>
      <li>Twitter</li>
    </menu>

    <div id="sidebar-right">
      <section>
        <h2 id="aside-navigation-menu">Navigation</h2>
        <nav aria-labelledby="#aside-navigation-menu">
          <ul>
            <li></li>
          </ul>
        </nav>
      </section>
    </div>

    {{ partial "footer/site-footer.html" . }}

  </body>
</html>
