{{/*
  Generate a site navigation menu using ul & li tags.

  Usage:

  ```html
  <nav role="menu" aria-label="Header navigation">
    {{ partial "menu/details-menu.html" .Site }}
  </nav>
  ```
*/}}
<ul role="menu">
  {{ range .Sections }}
    <li role="menuitem" tabindex="0" aria-label="{{ .Title }}" {{ if .Sections }} aria-haspopup="true"
      aria-expanded="false" {{ end }} class="{{ .Param "slug" }}">
      {{ if .Sections}}
        <details>
        <summary><a href="{{ .Permalink }}">{{ .Title }}</a></summary>

        {{ partial "menu/details-menu.html" . }}
        </details>
      {{ else }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    </li>
  {{ end }}
</ul>
